[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
text2emotion = "*"
googletrans = "==3.1.0a0"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
